a,address,blockquote,body,html,button,caption,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,span,td,textarea,th,ul {
	margin: 0;
	padding: 0;
}
*{ box-sizing:border-box;}
h1,h2,h3,h4,h5,h6 {font-size: 100%}
li,ol,ul {list-style: none}
fieldset,img {border: 0}
code,kbd,pre,samp {font-family: courier new,courier,monospace}
button,input,select,textarea {font-size: 100%;outline: 0}
textarea {resize: none}
table {border-collapse: collapse;border-spacing: 0;empty-cells: show;font-size: inherit}
a,a:hover {text-decoration: none}
:focus,a,label {outline: 0}
a,img {border: 0}
body { font-family:Microsoft YaHei,sans-serif; font-size:12px; color:#333; overflow: hidden}

.main_top{ position:relative; height:59px; background:#0084e5 url(images/main-top-bg.png) repeat-y right; }
.top_logo{ position:absolute;left:13px; top:10px; height:45px; }
.top_logo img{ float:left;}

.top_right{  position:absolute;right:0; top:0; height:59px;}

.top_right>div{ float: right; height: 59px;cursor: pointer;}

.top_right>div:hover{ background-color: #1eb1cc;}

.top_right>div.main_admin{ padding: 18px 20px 0 16px; color: #fff; font-size:14px; }

.top_right>div.main_admin i{ float: right; width: 10px; height: 18px;background:url(images/main-top-icon5.png) no-repeat center; margin-left:9px; }

.main_message{ width:53px; background:url(images/main-top-icon4.png) no-repeat center;}

.main_data{ width:53px; background:url(images/main-top-icon3.png) no-repeat center;}

.main_desktop{ width:53px; background:url(images/main-top-icon2.png) no-repeat center;}

.main_search{ width:53px; background:url(images/main-top-icon1.png) no-repeat center;}


/* 菜单 */
.main-left{ position:absolute; left:0; top:59px; height:0; width:175px; background-color:#fff; border-right: 1px solid #d5d5d5;}

.main-div{ overflow-y: auto;}

.catList{ padding-top:3px;}

.catList li>div{height:35px;}

.catList li>div a{padding-left: 56px; font-size:14px;line-height:35px; color: #3f3f3f;}

.catList li{overflow:hidden;height:35px;border-left:3px solid transparent;}

.catList li.itemhover,.catList li:hover{ background-color: #d5e6ed; border-left:3px solid #0085e5; font-weight: bold; }

.main-left1{ width: 43px;transition:all .3s;}

.main-left1 .J_MenuItem span,.main-left1 .J_MenuItem a{ display: none;transition:all .3s;}

.main-left1 .J_MenuItem div{ background-position: 10px;transition:all .3s;}

.itemmain-0{background:url(images/itemmain-oa.png) no-repeat 26px center;}
.itemmain-1{background:url(images/itemmain-rb.png) no-repeat 26px center;}
.itemmain-2{background:url(images/itemmain-jg.png) no-repeat 26px center;}
.itemmain-3{background:url(images/itemmain-ht.png) no-repeat 26px center;}
.itemmain-4{background:url(images/itemmain-cf.png) no-repeat 26px center;}
.itemmain-5{background:url(images/itemmain-sc.png) no-repeat 26px center;}
.itemmain-6{background:url(images/itemmain-cg.png) no-repeat 25px center;}
.itemmain-7{background:url(images/itemmain-dg.png) no-repeat 26px center;}
.itemmain-8{background:url(images/itemmain-kc.png) no-repeat 26px center;}
.itemmain-9{background:url(images/itemmain-sb.png) no-repeat 26px center;}
.itemmain-10{background:url(images/itemmain-aq.png) no-repeat 26px center;}

.itemmain-xn{background:url(images/itemmain-xn.png) no-repeat 25px center;}
.itemmain-ksh{background:url(images/itemmain-ksh.png) no-repeat 27px center;}
.itemmain-yjjc{background:url(images/itemmain-yjjc.png) no-repeat 26px center;}
.itemmain-gh{background:url(images/itemmain-gh.png) no-repeat 26px center;}
.itemmain-wz{background:url(images/itemmain-wz.png) no-repeat 26px center;}
.itemmain-sj{background:url(images/itemmain-sj.png) no-repeat 26px center;}
.itemmain-jy{background:url(images/itemmain-jy.png) no-repeat 26px center;}
.itemmain-cb{background:url(images/itemmain-cb.png) no-repeat 26px center;}


.cat-subcategory{position:absolute;top:29px;left:175px; z-index: 1000;border:1px solid #bcd1dd;background:url(images/item-bg.png) repeat;display:none;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	transition:all .3s;
	-webkit-box-shadow:15px 15px 15px rgba(0,0,0,0.2);
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.1);
	box-shadow:0px 5px 20px rgba(0,0,0,0.2)}

.cat-subcategory1,.cat-subcategory1.cat-subcategory2{left:43px;}

.cat-subcategory2{left:158px;}

.shadow{position:relative; overflow: hidden;}

.entity-main{ padding:10px 0;}

.shadow a,.shadow a:hover{color:#666;}

.shadow-left{float:left;display:inline;width:150px;/*border-right: 1px dashed #ccc;*/ overflow: hidden;}

.shadow .entity-main:last-child{border-right: 0;}


.shadow-left li{line-height:32px; font-size: 14px; padding-left: 10px; padding-right: 10px;}

.shadow-left>li li{ padding-left:15px;}


.shadow-left li a{display:block;white-space:nowrap;padding-left: 20px;}

.shadow-left li a:hover{background-color: #d5e6ed; border-radius: 18px; color: #000; }

.shadow-left li a.secItem{ font-weight: bold; color: #086a9a; font-size:14px;}

.entity-main{ overflow: hidden; }

.item-jt1{ position: absolute;left:-9px; top:6px; display:block; width:9px; height:16px;background:url(images/item-jt.png) no-repeat; margin:10px 0px 0 0;transition:all .1s;}

.thrItem{ }

.shadow-left li.thrItemMore:hover{ background-color:transparent;}

.shadow-left li.thrItemMore>a{color:#116fab;}

.main-unreadCount {height: 16px;position: absolute;left: 125px;top: 8px;}
.main-unreadCount span {display: none;line-height: 16px;background-color: #f1701a;padding: 0 5px;border-radius: 8px;color: #fff; float: left}

.main-left-foot{ height: 27px; background-color: #ececec; border-top:1px solid #e2e1e1; padding-top: 10px; cursor: pointer;transition:all .3s;}

.main-left-foot span{ display: block; width:16px; height: 8px;  background:url(images/main-left-foot.png) no-repeat; margin: 0 auto;}

.main-left-foot:hover{background-color: #d6d6d6;}

.main-left-foot1 span{background:url(images/main-left-foot1.png) no-repeat;}

.main-right-foot{margin-left:175px;height: 27px; background-color: #ececec; border-top:1px solid #e2e1e1;transition:all .3s; }

.main-right-foot1{margin-left:43px;transition:all .3s;}

.main_frame{ margin-left:175px; margin-top:0px; height:0;}

.main_frame1{ margin-left:43px;transition:all .3s;}

.main-zx{float: right;background:url(images/main-left-zx.png) no-repeat left; padding-left: 20px; margin-right: 25px; margin-top: 5px;}

.main-zx a{color: #585858;}

.main-zx a:hover{color: #0d91f1;}

.main-zx a span{ padding: 0 5px; color: #16c3dc;}

/*公告滚动*/
#scrollDiv{height:27px;overflow: hidden; margin:0 auto; padding-right:200px; margin-left:30px;float:left;background:url(images/main-foot-lb.png) no-repeat left;padding-left: 20px;}
#scrollDiv ul {list-style:none; margin:0; padding:0;}
#scrollDiv li { margin:0; padding:0;height:32px;line-height: 27px;}
#scrollDiv li a{ color:#525252;}
#scrollDiv li a span{color:#0386de;}
#scrollDiv li a span img{ margin: 0 5px;}

.main_admin_dropdown{ position: absolute; width: 158px; height: 103px; background:url(images/dropdown-bg.png) repeat;display: none; right:3px; top:65px; padding-top: 15px; opacity: 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:15px 15px 15px rgba(0,0,0,0.2);
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.1);
	box-shadow:0px 5px 20px rgba(0,0,0,0.2)}

.main_admin_dropdown>div{ height: 36px; line-height: 36px; font-size: 14px; cursor: pointer;}

.main_admin_dropdown>div:hover{ background-color: #d6dfe1;transition:all .2s;}

.main_admin_dropdown1{    -webkit-transition: opacity .5s linear;
	transition: opacity .1s linear;
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear; display: block;top:51px; opacity: 1;}

.admin-user i{ float: left; width:16px; height: 16px;  background:url(images/admin-user.png) no-repeat left; margin: 10px 10px 0 28px;}

.admin-out i{float: left; width:14px; height: 13px;  background:url(images/admin-out.png) no-repeat left;margin: 10px 10px 0 28px;}

.main_admin_jt{position: absolute; top:-7px; right:50px; display: block; width:14px; height: 7px; background:url(images/main_admin_jt.png) no-repeat left; }

.main_search1{display: none; position: absolute;right:261px; top:13px; width: 161px; height: 33px; background-color: #11b0d3; border-radius: 16px;}

.main_search_input{ float: left; width:131px; height: 33px; background-color: transparent; border: 0; padding-left: 12px; color: #fff; }

.main_search_btn{ width:17px; height:33px;  background:url(images/main-top-icon1.png) no-repeat left; border: 0; cursor: pointer;}

.main-remind{  width: 336px; height: 213px; z-index: 1000; position: absolute; right:5px; bottom: 32px; background-color: #fff; overflow: hidden;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:15px 15px 15px rgba(0,0,0,0.15);
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.15);
	box-shadow:0px 5px 20px rgba(0,0,0,0.15)}

.main-remind-icon{ float: left; color: #fff; font-size: 14px; background:url(images/main-remind-icon.png) no-repeat 10px 11px; padding-left: 28px; padding-top: 8px;
}

.main-remindtop{ height: 36px; background-color: #0aabde;}

.main-remind-close{ float: right; width:36px; height: 36px; background:url(images/main-remind-close.png) no-repeat center center; cursor: pointer;}
.main-remind-close:hover{ background-color: #0696c3;}

.main-remindcon{border: 1px solid #dbdbdb; border-top:0; height:177px; }

.main-remind-list{ line-height: 32px; padding-top: 8px;}

.main-remind-list a{ color: #086a9a; margin-right: 5px;}

.main-remind-list a:hover{color: #0c62ab;}

.main-remind-list li{ padding-left: 8px;}

.main-remind-list li:hover{ background-color: #d1e9fb;}








.tpt-text{ font-size:22px; padding-bottom:5px;}


.main_left{ position:absolute; left:0; top:59px; height:0; width:201px; background:#f6f5f5; border-right:1px solid #dfe0e1;
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.1);
	box-shadow:0px 0px 5px rgba(0,0,0,0.1);
}

.page-row{margin-left:201px; height:36px; background-color:#f1f1f1; border-bottom:1px solid #e5e5e5;}

.breadcrumb{ float:left; height:35px; line-height:35px; color:#333333; font-size:12px;}

/*
.breadcrumb i{ float:left; width:16px; height:15px;background:url(images/breadcrumb-icon.png) no-repeat center; margin:9px 7px 0 13px;}
*/

.breadcrumb span{ color:#2f80cd; padding:0 5px;}

.breadcrumb a{ color:#2f80cd;}

.breadcrumb a:hover{ color:#23588c;}



.category{position:absolute; top:0px; z-index:113; width:200px; }

.category-info{ position:relative; line-height:53px; text-align:left;}

.category-list>li{ padding-right:4px;border-left:4px solid transparent;height:56px;text-align:center;border-bottom:1px solid #eeeded; font-size:14px; z-index:1009;
	color:#333; cursor:pointer;
	-webkit-transition:All 0.15s ease;
	-moz-transition:All 0.15s ease;
	-o-transition:All 0.15s ease;
}

.category-list>li:hover .category-info{z-index:999;}

/*
.category-list>li:hover,.category-list>.js_toggle.select{ background:#dde2e7 url(images/menu_listbg.png) repeat-x top; padding-left:3px; }
*/

.category-info>i{ float:left; width:28px; height:28px;margin:12px 12px 0 19px;}
/*

.category_office .category-info>i{background:url(images/category_office.png) no-repeat; }
.category_process .category-info>i{background:url(images/category_process.png) no-repeat;}
.category_commun .category-info>i{background:url(images/category_commun.png) no-repeat;}
.category_doc .category-info>i{background:url(images/category_doc.png) no-repeat;}
.category_cockpit .category-info>i{background:url(images/category_cockpit.png) no-repeat;}
.category_business .category-info>i{background:url(images/category_business.png) no-repeat;}
.category_assets .category-info>i{background:url(images/category_assets.png) no-repeat;}
.category_car .category-info>i{background:url(images/category_car.png) no-repeat;}
.category_oa .category-info>i{background:url(images/category_oa.png) no-repeat;}
.category_site .category-info>i{background:url(images/category_site.png) no-repeat;}
*/


.menu-item{ position: absolute; z-index:-1;  left:201px; top:0px;width:230px;background:#dde2e7;padding-left:13px; zoom:1;
	border:1px solid #c9cfd4; border-left:0;  z-index:1000; display:none; /*overflow:auto;*/
	-webkit-box-shadow:5px 0px 8px rgba(0,0,0,0.06);
	-moz-box-shadow:5px 0px 8px rgba(0,0,0,0.06);
	box-shadow:5px 0px 8px rgba(0,0,0,0.06);
}

.main-menu{ font-size:18px; color:#348bdf; padding-left:15px; text-align:left; padding-top:18px; padding-bottom:15px;}

.main-menu-ul li{ text-align:left; font-size:14px;  height:35px; line-height:35px; padding-right:13px; margin-bottom:9px;}

.main-menu-ul>li>a{ display:block;height:35px; color:#5b5a5a;padding-left:13px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

.main-menu-ul>li>a:hover,.main-menu-ul li.select a{ background-color:#6aadef;}

.main-menu-ul li:hover a,.main-menu-ul li.select a{ color:#fff;}

.js_toggle:hover .menu-item{
	display:block;
	animation:fadeInLeft .15s ease;
	-webkit-animation:fadeInLeft .15s ease;
	-moz-animation:fadeInLeft .15s ease;
	-ms-animation:fadeInLeft .15s ease;
	-o-animation:fadeInLeft .15s ease
}


.menu-parent{ position:relative;}

/*
.main-menu-ul li.menu-parent>a{ background:url(images/jt1.png) no-repeat 185px 11px;}
*/

/*
.main-menu-ul li.menu-parent:hover>a{ color:#fff;!*background-color:#6aadef;*! background:#6aadef url(images/jt2.png) no-repeat 185px 11px;}
*/

.main-menu-ul li.menu-parent .menu-son>li>a{display:block;height:35px; color:#5b5a5a;padding-left:13px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

.main-menu-ul li.menu-parent .menu-son>li>a:hover{ color:#fff;background-color:#6aadef;}

.menu-son{ display:none; position:absolute; width:230px; background-color:#d6dce2; right:-230px; top:0;}

.menu-parent:hover .menu-son{ display:block;}

.menu-son{ padding-left:10px; padding-top:10px; border:1px solid #c9cfd4; border-left:0;}

.left-shrink{ position:absolute; bottom:0; left:0; width:100%; height:31px; background-color:#eaeaea; border-top:1px solid #e1e1e1; cursor:pointer;}

.left-shrink:hover{ background-color:#dfdfdf; border-top-color:#cecdcd;}

/*
.left-shrink i{ width:21px; height:15px; background:url(images/shrink.png) no-repeat; display:block; margin:0 auto; margin-top:6px;}
*/

/*
.shrink-in{ position:absolute; top:43%; left:0; !*display:none; *!width:19px; height:43px;background:url(images/shrink1.png) no-repeat bottom; cursor:pointer; display:none;}
*/

.shrink-in:hover{ background-position:top;}


/*css3动画*/
@-webkit-keyframes fadeInLeft {
	0% {opacity:0;-webkit-transform:translate(-10px,0px)}
	100% {opacity:1;-webkit-transform:translate(0,0)
	}
}
@-moz-keyframes fadeInLeft {
	0% {opacity:0;-moz-transform:translate(-10px,0px)}
	100% {opacity:1;-moz-transform:translate(0,0)}
}
@-ms-keyframes fadeInLeft {
	0% {opacity:0;-ms-transform:translate(-10px,0px)}
	100% {opacity:1;-ms-transform:translate(0,0)}
}
@-o-keyframes fadeInLeft {
	0% {opacity:0;-o-transform:translate(-10px,0px)}
	100% {opacity:1;-o-transform:translate(0,0)}
}
@keyframes fadeInLeft {
	0% {opacity:0;transform:translate(-10px,0px)}
	100% {opacity:1;transform:translate(0,0)}
}

/*桌面*/

.desktop{ padding:20px;}

.line1{ padding-bottom:15px; overflow:hidden;}

.person-infor{ float:left; width:231px; height:101px; background-color:#0bb3f2; border:1px solid #019dd8; cursor:pointer;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

.person-infor:hover{ border:1px solid #0096cf; background-color:#23bff9;}

.person-img{ width:66px; height:66px; overflow:hidden; float:left; margin-left:23px; margin-top:16px;
	-moz-border-radius:33px; -webkit-border-radius:33px; border-radius:33px;
	-webkit-box-shadow:-5px 5px 8px rgba(0,0,0,0.3);
	-moz-box-shadow:-5px 5px 8px rgba(0,0,0,0.3);
	box-shadow:-5px 5px 8px rgba(0,0,0,0.3);
}

.person-img img{width:66px; height:66px;}

.person-con{ line-height:25px; margin-left:109px; padding-top:23px;}

.person-title{ color:#fff; font-size:14px;}

.person-text{color:#ebf9fe; font-size:12px;}

.shortcut{ height:101px; background-color:#50c7a7; border:1px solid #42b697;padding-top:8px;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

.shortcut-div{ float:left; width:16.6%; cursor:pointer; padding-top:10px; padding-bottom:10px;}

.shortcut-div:hover{ background-color:#56cdad;}

.shortcut-img{ text-align:center;}

.shortcut-text{ text-align:center; color:#fff; font-size:14px; padding-top:3px;}

.countdown{ float:right; width:270px; height:101px; background-color:#ff8a65; border:1px solid #eb744f; padding:20px 10px 0 30px; cursor:pointer;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

.countdown:hover{ background-color:#ff9f80;}

.countdown-list{ color:#fff; font-size:14px; padding-bottom:10px;}

.countdown-list span{ padding:0 5px;}

.countdown-list img{margin:0 2px -8px 2px;}

.line-left{float:left; width:60%; padding-right:15px; padding-bottom:10px;}

.line-right{float:left; width:40%;}

.container{-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; margin-bottom:15px;
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.1);
	box-shadow:1px 1px 3px rgba(0,0,0,0.1);}

.con-top{ height:37px;}

.top-title{ float:left; font-size:14px; line-height:37px;}

.top-title .daiban{ width:16px; height:16px; float:left; margin:10px 13px 0 25px; }

.top-right{ float:right;}

.con-set{ float:right; width:16px; height:16px; margin:12px 19px 0 35px;}

.con-infor{float:right; text-decoration:underline; margin-top:9px; font-size:14px;}

.con-infor:hover{text-decoration:underline;}

.con-list{ background-color:#fff;}

.con-list td{ font-size:14px; height:45px; line-height:45px; text-align:center;border-bottom:1px solid #eeeeee;}


.container.module1-green{border:1px solid #d0e6be;}
.module1-green .con-top{ border-bottom:2px solid #d0e6be; background-color:#dff0d8;}
.module1-green .top-title{color:#468847;}
/*.module1-green .top-title .daiban{background:url(images/daiban.png) no-repeat;}
.module1-green .con-set{background:url(images/green-set.png) no-repeat;}*/
.module1-green .con-infor{color:#468847;}
.module1-green .con-infor:hover{color:#1f5d20;}
.module1-green .con-list td{color:#468847;}
.module1-green .con-list td a{color:#468847;}
.module1-green .con-list td a:hover{color:#1f5d20;}

.container.module1-yellow{border:1px solid #f6deac;}
.module1-yellow .con-top{ border-bottom:2px solid #f6deac; background-color:#f9f1c7;}
.module1-yellow .top-title{color:#af8640;}
/*.module1-yellow .top-title .daiban{background:url(images/mail.png) no-repeat center 1px;}
.module1-yellow .con-set{background:url(images/yellow-set.png) no-repeat;}*/
.module1-yellow .con-infor{color:#af8640;}
.module1-yellow .con-infor:hover{color:#8a611a;}
.module1-yellow .con-list td{color:#af8640;}
.module1-yellow .con-list td a{color:#af8640;}
.module1-yellow .con-list td a:hover{color:#8a611a;}

.container.module1-blue{border:1px solid #cae2f7;}
.module1-blue .con-top{ border-bottom:2px solid #cae2f7; background-color:#dbebfb;}
.module1-blue .top-title{color:#518dc2;}
/*.module1-blue .top-title .daiban{background:url(images/noread.png) no-repeat center 3px;}
.module1-blue .con-set{background:url(images/blue-set.png) no-repeat;}*/
.module1-blue .con-infor{color:#518dc2;}
.module1-blue .con-infor:hover{color:#26659c;}
.module1-blue .con-list td{color:#518dc2;}
.module1-blue .con-list td a{color:#518dc2;}
.module1-blue .con-list td a:hover{color:#26659c;}

.container.module1-cyan{border:1px solid #b1e6dc;}
.module1-cyan .con-top{ border-bottom:2px solid #b1e6dc; background-color:#ccf1ea;}
.module1-cyan .top-title{color:#20ad92;}
/*.module1-cyan .top-title .daiban{background:url(images/announ.png) no-repeat center 2px;}*/
/*.module1-cyan .con-set{background:url(images/cyan-set.png) no-repeat;}*/
.module1-cyan .con-infor{color:#20ad92;}
.module1-cyan .con-infor:hover{color:#087f69;}
.module1-cyan .con-list td{color:#20ad92;}
.module1-cyan .con-list td a{color:#20ad92;}
.module1-cyan .con-list td a:hover{color:#087f69;}














